<!DOCTYPE html>
<html>
<head>
    <title>TCP Port scanner</title>
</head>
<body>
    <table border=1px>
        <form>
        <tbody>
            <tr>
                <td>Network</td>
                <td>{{network}}</td>
            </tr>
            <tr>
                <td>First host</td>
                <td>{{first}}</td>
            </tr>
            <tr>
                <td>Last host</td>
                <td>{{last}}</td>
            </tr>
            <tr>
                <td>Broadcast address</td>
                <td>{{broadcast}}</td>
            </tr>
            <tr>
                <td>Next network</td>
                <td>{{neXt}}</td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td>hosts per network</td>
                <td>{{hosts}}</td>
            </tr>
            
        </tbody>
        </form>
    </table>
</body>
</html>